<h1>Multiple Choice</h1>
    <div class="row">
        <div class="large-6 columns">
            <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                    <span class="prefix">Title</span>
                </div>
                <div class="small-9 columns">
                    <input type="text" placeholder="Value" ng-model="form.newQuestion.title">
                </div>
                <div class="small-5 columns">
                    <span class="prefix">Question</span>
                </div>
                <div class="small-7 columns">
                    <input type="text" placeholder="Value" ng-model="form.newQuestion.question">
                </div>

                <label>
                    Answer A
                    <input type="text" ng-model="form.newQuestion.answerA">
                </label>
                <label>
                    Answer B
                    <input type="text" ng-model="form.newQuestion.answerB">
                </label>
                <label>
                    Answer C
                    <input type="text" ng-model="form.newQuestion.answerC">
                </label>
                </div>
        </div>
    </div>
    <input type="submit" value="Submit" class="button" ng-click="add(form.newQuestion)"/>
