<h1>Rate</h1>
<div class="row">
    <div class="large-6 columns">
        <div class="row collapse prefix-radius">
            <div class="small-3 columns">
                <span class="prefix">Title</span>
            </div>
            <div class="small-9 columns">
                <input type="text" placeholder="Value" ng-model="form.newQuestion.title">
            </div>
            <div class="small-5 columns">
                <span class="prefix">Question</span>
            </div>
            <div class="small-7 columns">
                <input type="text" placeholder="Value" ng-model="form.newQuestion.question">
            </div>

            <label>
                Answer A
                <input type="text" ng-model="form.newQuestion.answerA">
            </label>
            <label>
                Answer B
                <input type="text" ng-model="form.newQuestion.answerB">
            </label>
            <label>
                Answer C
                <input type="text" ng-model="form.newQuestion.answerC">
            </label>

            <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
            <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
            <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
            <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
            <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>

        </div>
    </div>
</div>
<input type="submit" value="Submit" class="button" ng-click="add(form.newQuestion)"/>
