<div class="row">
    <!--<div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>-->
    <!--<ul class="tabs" data-tab>-->
    <ul ng-repeat="question in questions" class="large-pull-5 tabs collapse columns">
        <!--<p><a href="#">{{question.title}}</a></p>-->
        <li class="medium-2 tab-title"><a>{{question.questionType}}</a></li>
        <div class="large-8 columns">
            <p><strong>Question: <br></strong>{{question.question}}</p>
        </div>

    </ul>
    <!--</ul>-->
    <a href ng-click="toggleModal()" class="button">Add Question</a>
    <modal show='modalShown'>
        <div class="row">

            <ul class="tabs" data-tab>
                <div class="large-3  columns">
                    <li class="tab-title"><a ng-click="changeForm(0)">Multiple Choice</a></li>
                </div>
                <div class="large-3  columns">

                    <li class="tab-title"><a ng-click="changeForm(1)">True And False</a></li>
                </div>
                <div class="large-3  columns">

                    <li class="tab-title"><a>Number Scale</a></li>
                </div>
                <div class="large-3  columns end">
                    <li class="tab-title"><a >Comment Responses</a></li>
                </div>
            </ul>
        </div>
        <br>
        <form name="form.question">
            <div ng-include="template.url"></div>
        </form>

        <!---->
        <!--<form name="form.question">-->
            <!--<div class="row">-->
                <!--<div class="large-6 columns">-->
                    <!--<div class="row collapse prefix-radius">-->
                        <!--<div class="small-3 columns">-->
                            <!--<span class="prefix">Title</span>-->
                        <!--</div>-->
                        <!--<div class="small-9 columns">-->
                            <!--<input type="text" placeholder="Value" ng-model="form.newQuestion.title">-->
                        <!--</div>-->
                        <!--<div class="small-5 columns">-->
                            <!--<span class="prefix">Question</span>-->
                        <!--</div>-->
                        <!--<div class="small-7 columns">-->
                            <!--<input type="text" placeholder="Value" ng-model="form.newQuestion.question">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<input type="submit" value="Submit" class="button" ng-click="add(form.newQuestion)"/>-->
        <!--</form>-->
    </modal>



</div>
